- @page_title = 'My Subscribed Notices'
.checkout
  %h2 Your Subscribed Notices
  %p.intro
    List of notices you have subscribed to are listed below

  = render 'shared/order_items', :order => current_order
  
