- @page_title = "Notices"

= content_for :header do
  %p.buttons= link_to "Add New Notice", :new_product, :class => 'button green'  
  %h2.products Your Notices

= render 'table', :products => @products
